<div id="container">
  <h1>Welcome to Brastlewark</h1>
  <h3>Meet the gnomes...</h3>
  <input type="text" id="gnome_name" [(ngModel)]="pattern" placeholder="Search gnomes by name">

  <div class="alert" *ngIf="displayProfile">
    <div class="alert-content">
        <p class="exit-btn" (click)="toggleDisplayProfile()">X</p>
      <app-gnome-card [gnome]="gnome"></app-gnome-card>
    </div>
  </div>

  <div class="gnome-list-container">
    <p *ngIf="!gnomes">Please be patient while we find the gnomes...</p>
    <ul *ngIf="gnomes" class="gnome-list">
      <li *ngFor="let gnome of gnomes| search:'name':pattern; let i = index">
        <img src="{{  gnome.thumbnail  }}" (click)="toggleDisplayProfile(gnome)">
        <h4 class="gnome-info" (click)="toggleDisplayProfile(gnome)">{{  gnome.name  }}</h4>
      </li>
    </ul>
  </div>
</div>