<div id="container">
  <h1>Welcome to Brastlewark</h1>
  <h3>Meet the gnomes...</h3>
  <input class="input" type="text" id="gnome_name" [(ngModel)]="pattern" placeholder="Search gnomes by name">

  <div>
    <label for="checkboxInput">Display gnomes from oldest to youngest:</label>
    <input type="checkbox" [(ngModel)]="order" #checkboxInput (click)="handleCheckboxClick(checkboxInput)">
  </div>

  <div class="alert" *ngIf="displayProfile">
    <div class="alert-content">
        <p class="exit-btn" (click)="toggleDisplayProfile()">X</p>
      <app-gnome-card [gnome]="gnome"></app-gnome-card>
    </div>
  </div>

  <div class="gnome-list-container">
    <p *ngIf="!gnomesShowing">Please be patient while we find the gnomes...</p>
    <ul *ngIf="gnomesShowing" class="gnome-list">
      <li *ngFor="let gnome of gnomesShowing| search:'name':pattern; let i = index ">
        <img src="{{  gnome.thumbnail  }}" (click)="toggleDisplayProfile(gnome)">
        <div class="gnome-info" >
          <h4 (click)="toggleDisplayProfile(gnome)">{{  gnome.name  }}</h4>
          <p>Age: {{ gnome.age }}</p>
        </div>
      </li>
    </ul>
  </div>
</div>