<div class="gnome-card container">
  <h3>{{gnome.name}}</h3>

  <img class="gnome-img" src="{{ gnome.thumbnail }}" alt="gnome-image">

  <div class="physical-info-container">
    <div>
      <p class="gnome-info-label">age:</p>
      <p>{{ gnome.age }}</p>
    </div>

    <div>
      <p class="gnome-info-label">weight:</p>
      <p>{{ gnome.weight }}</p>
    </div>
    
    <div>
      <p class="gnome-info-label">height:</p>
      <p>{{ gnome.height }}</p>
    </div>

    <div>
      <p class="gnome-info-label">hair-color:</p>
      <p>gnome.hair_color</p>
    </div>
  </div>

  <div *ngIf="!user">
    <p>You must <a [routerLink]="['/auth']">login</a> to view this gnome's friends and professions.</p>
  </div>

  <div *ngIf="user">
    <p class="gnome-info-label">professions:</p>
    <ul class="professions-list" *ngFor="let profession of gnome.professions">
      <li>
      <p>{{profession}}</p>
      </li>
    </ul>
    
    <p class="gnome-info-label">friends:</p>
    <ul class="friends-list" *ngFor="let friend of gnome.friends">
      <li>
        <p>{{friend}}</p>
      </li>
    </ul>
  </div>  
</div>