<h3>DANIELLE LEBLANC-CYR</h3>

<img src="../../assets/images/sleepysheng.jpeg" alt="gnome-image">

<p>age:</p>
<p>23</p>

<p>weight:</p>
<p>135</p>

<p>height:</p>
<p>170</p>

<p>hair-color:</p>
<p>brown</p>
<!-- do hair-color using sass maybe with text-outline for visibility!! -->
<p>professions:</p>
<ul>
  <li>singer</li>
  <li>dancer</li>
  <li>actor</li>
  <li>president</li>
</ul>
<!-- use a tag-like display for each profession and maybe thumbnails for friends?-->
<p>friends:</p>
<ul>
  <li>Whitwright Gimbaltorqu</li>
  <li>Sarabink Nozzlebooster</li>
  <li>Milli Switchrocket</li>
  <li>Milli Mystratchet</li>
</ul>