<div class="gnome-card container">
  <h3>DANIELLE LEBLANC-CYR</h3>

  <img class="gnome-img" src="../../assets/images/sleepysheng.jpeg" alt="gnome-image">

  <p class="gnome-info-label">age:</p>
  <p>23</p>

  <p class="gnome-info-label">weight:</p>
  <p>135</p>

  <p class="gnome-info-label">height:</p>
  <p>170</p>

  <p class="gnome-info-label">hair-color:</p>
  <p>brown</p>
  <!-- do hair-color using sass maybe with text-outline for visibility!! -->
  <p class="gnome-info-label">professions:</p>
  <ul class="professions-list">
    <li>singer</li>
    <li>dancer</li>
    <li>actor</li>
    <li>president</li>
  </ul>
  <!-- use a tag-like display for each profession and maybe thumbnails for friends?-->
  <p class="gnome-info-label">friends:</p>
  <ul>
    <li>Whitwright Gimbaltorqu</li>
    <li>Sarabink Nozzlebooster</li>
    <li>Milli Switchrocket</li>
    <li>Milli Mystratchet</li>
  </ul>
</div>